@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: theme("colors.on-surface.DEFAULT");
    background: theme("colors.surface.DEFAULT");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: theme("colors.secondary.DEFAULT / 12%");
    color: theme("colors.secondary.DEFAULT");
  }
}

